<!DOCTYPE html>
<html>
    <head>
        <title><%= @cnName %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <meta name="descriptions" content="<%= @introduceInHead %>" />
        <link type="text/css" rel="stylesheet" href="../style/avalon.doc.css"/>
        <script src="../highlight/shCore.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <h2><%= @enName %></h2>
            <fieldset>
                <legend><%= @cnName %></legend>
                <%= @introduce %>
            </fieldset>
            <fieldset>
                <legend>使用说明</legend>
                <%= @summary %>
                <table class="table-doc" border="1">
                    <colgroup>
                        <col width="180"/>
                        <col width="80"/>
                        <col width="180"/>
                    </colgroup>
                    <tr>
                        <th>名字</th>
                        <th>类型</th>
                        <th>默认值</th>
                        <th>说明</th>
                    </tr>
                    <%- for(var i=0, n = @trs.length, tr; i < n; i++){ -%>
                    <tr>
                        <% tr = @trs[i] -%>
                        <% if(tr.span){ %>
                        <td align="center" colspan="4"><%= tr.span %></td>
                        <%- } else {-%>
                        <td><%= tr.name %></td>
                        <td><%= tr.type %></td>
                        <td><%= tr.defaultValue %></td>   <td><%= tr.explain %>
                        <% if (tr.params && tr.params.length){ %>
                            <table border="1">
                                <col width="100"/><col width="70"/>
                                <tr><th>参数名/返回值</th><th>类型</th><th>说明</th></tr>
                                <%- for(var j=0, plen=tr.params.length, p; j < plen; j++){
                                    p=tr.params[j] -%>
                                <tr><td><%= p.name %></td><td><%= p.type %></td><td><%= p.desc %></td></tr>
                                <% } %>
                            </table>
                        <% } %>

                    </td>
                        <%- } -%>
                    </tr>
                    <%- } -%>
                </table>
            </fieldset>
            <%- for(var i=0, n = @others.length, other; i < n; i++){
                other = @others[i] -%>
            <div class="others"><%= other %></div>
            <% } %>


            <ul class="example-links">
                <%- for(var i=0, n = @links.length, link; i < n; i++){ -%>
                <%- link = @links[i] -%>
                <li><a href="<%= link.href %>"><%= link.text %></a></li>
                <%- } -%>
            </ul>
        </div>
    </body>
</html>
